/* Global variables */
:root {
    --bg-color: aliceblue;
    --pr-color: whitesmoke;
}

/* Main selectors */
html,
body {
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
}

#bg {
    position: fixed;
    z-index: -1;
}