@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global variables */
:root {
    --bg-color: whitesmoke;
    --txt-color: #050505;
    --loadAnimationDuration: .75s;
    --cursor-url: url('/assets/img/dark.png');
}

.dark {
    --bg-color: #050505;
    --txt-color: whitesmoke;
    --cursor-url: url('/assets/img/light.png');
}

/* Global selectors */
* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Fira Sans';
    background-color: var(--bg-color);
    color: var(--txt-color);
    cursor: var(--cursor-url) 16 16, auto;
    transition: background-color .1s ease-in;
}

svg {
    width: 28px;
    height: auto;
    fill: var(--txt-color);
    opacity: .7;
    cursor: var(--cursor-url) 16 16, auto;
    transition: all .2s ease;
}

svg:hover {
    opacity: 1;
}

.svg-hidden {
    display: none;
}

.onload {
    opacity: 0;
    animation: loader var(--loadAnimationDuration) ease-in;
    animation-delay: var(--loadAnimationDuration);
    animation-fill-mode: forwards;
}

#bg {
    position: fixed;
    z-index: -1;
}

/* Navbar */
#navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 82px;
    transition: all .1s ease-in;
}

#navbar_options {
    display: flex;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.navbar_option {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 4.5rem;
    padding: 1rem;
    margin-inline: .5rem;
    font-size: 16px;
    font-weight: normal;
    color: var(--txt-color);
    text-decoration: none;
    opacity: .6;
    cursor: var(--cursor-url) 16 16, auto;
    transition: opacity .2s ease-in, color .2s ease-in;
}

.navbar_option:hover {
    opacity: 1;
}

.navbar_option-selected {
    font-weight: bold;
    opacity: 1;
}

#navbar_buttons {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
}

.navbar_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: .8rem;
    margin-top: 1rem;
    padding: 0;
    border: 0;
    background-color: transparent;
}

/* Footer */
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    transition: all .1s ease-in;
}

#links_container {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

#links_container a {
    display: inline-block;
    margin-inline: .8rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.separator {
    display: none;
}

/* Main content */
#main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* About */
.about_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: clamp(350px, 50vw, 450px);
    height: 100%;
}

.about_container span {
    padding: .3rem 0;
    text-align: center;
}

.about_name {
    font-size: clamp(36px, 5vw, 48px);
    width: 100%;
}

.about_role_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1.8em;
    background-color: var(--txt-color);
    transform: scaleX(0);
    animation: loaderBar var(--loadAnimationDuration) ease-in-out forwards;
}

.about_role {
    font-size: clamp(18px, 2.5vw, 22px);
    animation: loaderBarText var(--loadAnimationDuration) ease-in var(--loadAnimationDuration) forwards;
    transition: width var(--loadAnimationDuration) ease-in;
}

.about_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin-bottom: 7rem;
}

.about_bottom svg {
    width: 20px;
    margin-top: 2rem;
}

.about_bottom span {
    font-size: 14px;
    margin-top: .3rem;
}

#resume_button {
    font-size: 18px;
    font-weight: normal;
    padding: .5rem 1rem;
}

/* Projects */
.projects_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.projects_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: clamp(350px, 50%, 500px);
    margin: .5rem;
    padding: 1rem;
    border-radius: 5px;
}

.projects_card_header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .3rem;
    font-weight: bold;
}

.projects_card_buttons-container {
    margin-left: auto;
}

.button_a {
    display: inline-block;
    position: relative;
    padding: .3rem .8rem;
    font-size: 14px;
    font-weight: bold;
    color: var(--txt-color);
    border: 1px solid var(--txt-color);
    background-color: transparent;
    cursor: var(--cursor-url) 16 16, auto;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    transition: color .4s ease-out;
}

.button_a:hover {
    color: var(--bg-color);
}

.button_a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -130%;
    width: 120%;
    height: 110%;
    background-color: var(--txt-color);
    transform: skewX(-20deg);
    z-index: -1;
    transition: left .4s ease-out;
}

.button_a:hover::before {
    left: -10%;
}

.projects_card_body {
    width: 100%;
    margin-block: .5rem;
    padding: .3rem;
    font-size: 14px;
    display: block;
    text-align: justify;
}

.projects_card_footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: auto;
    padding: .3rem;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--txt-color);
    transform: scaleX(0);
    animation: loaderBar var(--loadAnimationDuration) ease-in-out forwards;
}

.projects_card_footer span {
    animation: loaderBarText var(--loadAnimationDuration) ease-in var(--loadAnimationDuration) forwards;
}

/* Animations */
@keyframes loader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loaderBar {
    to {
        transform: scaleX(1);
    }
}

@keyframes loaderBarText {
    0% {
        color: var(--txt-color);
    }
    100% {
        color: var(--bg-color);
    }
}

/* Media Queries */
@media (max-width: 600px) {
    svg {
        width: 24px;
        height: auto;
    }

    #navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar_options {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .navbar_option {
        margin-inline: 1.5rem;
    }

    #links_container {
        margin: 0;
        padding: 0;
    }

    #links_container a {
        display: inline-block;
        margin: 0;
        margin-inline: .8rem;
    }

    #navbar_buttons {
        padding: 0;
        margin: 0;
    }

    .navbar_button {
        display: inline-block;
        margin: 0;
        margin-inline: .5rem;
    }

    .separator {
        display: block;
        width: 1px;
        height: 42px;
        background-color: var(--txt-color);
        opacity: .1;
        margin-inline: 1.2rem;
    }

    .svg-ld {
        width: 30px;
        height: auto;
    }

    .svg-lan {
        width: 30px;
        height: auto;
    }
}
